Repository neo4j-contrib/neo4j-spark-connector, pull requests merged in 2020-09, with the labels that each got.

#169 Fixes #145: Write a Dataframe to Neo4j as relationships
  doc/docs/modules/ROOT/nav.adoc
  doc/docs/modules/ROOT/pages/index.adoc
  doc/docs/modules/ROOT/pages/quickstart_reader.adoc
  doc/docs/modules/ROOT/pages/quickstart_writer.adoc
  src/main/scala/org/neo4j/spark/Neo4jOptions.scala
  src/main/scala/org/neo4j/spark/service/MappingService.scala
  src/main/scala/org/neo4j/spark/service/Neo4jQueryService.scala
  src/main/scala/org/neo4j/spark/util/Neo4jImplicits.scala
  src/main/scala/org/neo4j/spark/util/Validations.scala
  src/main/scala/org/neo4j/spark/writer/Neo4jDataSourceWriter.scala
  src/main/scala/org/neo4j/spark/writer/Neo4jDataWriter.scala
  src/test/scala/org/neo4j/spark/DataSourceReaderTSE.scala
  src/test/scala/org/neo4j/spark/DataSourceWriterTSE.scala
  src/test/scala/org/neo4j/spark/Neo4jOptionsTest.scala
  src/test/scala/org/neo4j/spark/SparkConnectorScalaSuiteIT.scala
Labels: datasource-v2-write-support

#168 fixes #150: Neo4j database error while creating nodes
  src/main/scala/org/neo4j/spark/Neo4jConfig.scala
  src/test/scala/org/neo4j/spark/Neo4jConfigTest.scala
Labels: v1

#174 Allow index/constraint creation
  doc/docs/modules/ROOT/pages/quickstart_writer.adoc
  src/main/scala/org/neo4j/spark/Neo4jOptions.scala
  src/main/scala/org/neo4j/spark/service/Neo4jQueryService.scala
  src/main/scala/org/neo4j/spark/service/SchemaService.scala
  src/main/scala/org/neo4j/spark/util/ValidationUtil.scala
  src/main/scala/org/neo4j/spark/util/Validations.scala
  src/main/scala/org/neo4j/spark/writer/Neo4jDataSourceWriter.scala
  src/main/scala/org/neo4j/spark/writer/Neo4jDataWriter.scala
  src/main/scala/org/neo4j/spark/writer/Neo4jWriterFactory.scala
  src/test/scala/org/neo4j/spark/DataSourceWriterTSE.scala
Labels: datasource-v2-write-support

#177 Improve Docs
  README.md
  doc/README.md
  doc/asciidoc/cloud/index.adoc
  doc/asciidoc/faq/index.adoc
  doc/asciidoc/index.adoc
  doc/asciidoc/neo4j-cluster/index.adoc
  doc/asciidoc/overview/index.adoc
  doc/asciidoc/quickstart/index.adoc
  doc/docs.yml
  doc/docs/antora.yml
  doc/docs/modules/ROOT/nav.adoc
  doc/docs/modules/ROOT/pages/architecture.adoc
  doc/docs/modules/ROOT/pages/aura.adoc
  doc/docs/modules/ROOT/pages/cloud.adoc
  doc/docs/modules/ROOT/pages/configuration.adoc
  doc/docs/modules/ROOT/pages/faq.adoc
  doc/docs/modules/ROOT/pages/graphkeys.adoc
  doc/docs/modules/ROOT/pages/index.adoc
  doc/docs/modules/ROOT/pages/neo4j-cluster.adoc
  doc/docs/modules/ROOT/pages/overview.adoc
  doc/docs/modules/ROOT/pages/python.adoc
  doc/docs/modules/ROOT/pages/quickstart.adoc
  doc/docs/modules/ROOT/pages/quickstart_reader.adoc
  doc/docs/modules/ROOT/pages/quickstart_writer.adoc
  doc/docs/modules/ROOT/pages/reading.adoc
  doc/docs/modules/ROOT/pages/types.adoc
  doc/docs/modules/ROOT/pages/writing.adoc
  doc/package.json
  doc/pom.xml
  pom.xml
  src/main/scala/org/neo4j/spark/Neo4jOptions.scala
  src/test/scala/org/neo4j/spark/DataSourceReaderTSE.scala
  src/test/scala/org/neo4j/spark/DataSourceReaderWithApocTSE.scala
Labels: connector-4-roadmap, enhancement
